#-*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock

*.elc
auto-save-exit
tramp
.\#*
#Org-mode
.org-id-locations
*_archive

#flymake-mode
*flymake.*
#eshell files
/eshell/history
/eshell/lastdir
